/* Sets the background pattern and main fonts */
body {
    background-image: url(../images/gravel.png);
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    margin: 0px;
}

/* portfolio images resized so same height for a cleaner look */ 
#bike-pov, 
#skateboard, 
#bball, 
#mobo, 
#outdoors  {
    width: 100%;
    height: 200px;
}

/* Header style */
header {
    background-color: #ffffff;
    border-bottom: solid #cccccc;
}

/* section containing name and nav bar within header */
.top {
    width: 960px;
    margin: 0 auto;
 }

 /* float my name to the left */
#myname {
    float: left;
    padding: 30px;
    margin: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
}

/* nav bar containing links to my other pages */
nav {
    position: relative;
    top: 40px;
}

/* float links to the right */
#index,
#portfolio,
#contact {
    float: right;
    
}

/* clear floats */
.clearfix {
    clear: both;
}

/* to make | dividers + space in between nav links */
#index, 
#portfolio {
    padding-right: 30px;
    border-right: solid #dddddd;
}

/* space between nav links */
#contact, 
#portfolio {
    padding-left: 30px;
}

/* fonts and style for h1, h2 */
h1,
h2 {
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-color: #dddddd;
    color: #4aaaa5;
    font-family: "Georgia", Times, "Times New Roman", serif;
}

/* Changes hyperlink color and removes underscore of links */
a {
    color: #777777;
    text-decoration: none;
}
 

/* content area should not exceed this total width = 960px */
section {
    background-color: #ffffff;
    max-width: 920px;
    margin: 20px auto;
    padding: 20px;
    border: solid #dddddd;
}

/* text boxes */
#name-field,
#email,
#message {
    width: 900px;
    padding: 10px;
}


/* profile picture resized and positioned */
#selfie {
    width: 200px;
    float: left;
    margin: 10px 20px 20px 0;
}

/* paragraphs - double spacing */
p {
    line-height: 200%;
}

/* gallery grid */
table {
    width: 100%;
}

/* class contains picture + caption */
.gallery {
    position: relative;
}

/* when mouse hovers over portfolio images */
.gallery:hover {
    border: solid #4aaaa5;
}

/* columns */
td {
    padding: 20px 40px 20px 0;
    width: 33.3%;
}

/* caption */
.desc {
    position: absolute;
    bottom: 15px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

/* submit button on contact page */
#submit-button {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;    
}

/* sticky footer */
footer {
    text-align: center;
    background-color: #666666;
    padding: 20px;
    border-top-style: solid;
    border-color: #4aaaa5;
    color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: 0;
}